@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

body {
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
}

/* Shared Styles for all pages */

/* NAVIGATION BAR */

.navbar-collapse {
  text-align: end;
  padding-left: 0;
}

.navbar-brand {
    font-family: 'Raleway Dots', cursive;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  /* Hover.css Navigation Bar Animations by Ian Lunn Design */

  /* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #050505;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
    /* END hover.css */

    ul li a.active {
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      padding-left: 0;
      margin-left: 0;
  }

  ul li a.nav-link {
    padding-bottom: 0;
  }

/* Modal "Cotact us" */

.form-control {
  margin-bottom: 20px;
}

/* Shared headers */
.quotes {
    font-size: 170%;
    text-align: center;
    margin: 25px auto 10px;
    font-style: italic;
    font-weight: 300;
}


/* Fotter */

/* bootstrap sticky footer example  */

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 70px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here  (was 60px)*/
    line-height: 40px; /* Vertically center the text there (was 60px) */
    background-color: #f5f5f5;
  }

  /* my footer class*/
.footer-container {
  padding-top: 10px;
  height: 40px;
}

.footer-container p {
  font-size: 1rem;;
}
.footer-container i {
  color: #050505;
  font-size: 1.3rem;
}

/* Footer Social Links interaction */
.social-links li a i:hover {
color:rgba(75, 73, 73, 0.89)
}



/* index.html & index-lt.html only */

/* carousel  */

.carousel-inner,
.slide,
.carousel-item img {
  border-radius: 10px ;
  overflow: hidden;
}

/* about.html & about-lt.html */

.picture-girls img {
  width: 100%;
  border-radius: 50%;
  padding: 0;
  border: white solid 1px;
}

.picture-girls img[alt="girl sitting"] {
  margin: 150px -50px;
  
}

.picture-girls img[alt="girl smiling"] {
  margin:   50px 50px;
  
}

@media all and (max-width: 576px) {
.picture-girls img[alt="girl sitting"] {
  margin: 10px -20px;
  
}

.picture-girls img[alt="girl smiling"] {
  margin: 10px 100px;
  
}

.picture-girls img {
  width: 70%;
  border-radius: 50%;
  padding: 0;
  border: white solid 1px;
}


}

/* store.html & store-lt.html */

div.store-images>img {
    width: 90%;
    border-radius: 10px;
    margin: 20% auto;
    display: flex block;
    justify-content: center;
}

div.store-images{
    text-align: center;

}

div.store-images>a.store-link{
margin-bottom: 20px;
}

.store-link>i.bi.bi-basket::before {
    padding-bottom: 5px;
    margin-right: 7px;
}


/* care.html & care-lt.html */

/* Responsive Youtube embed by Thierry Koblentz https://alistapart.com/article/creating-intrinsic-ratios-for-video/  */
/* with my djustments for maziau.lt care.html & care-lt.html  */

#youtube-container {
    width: 50%;
    margin-top: 2%;     
    margin-left: 25%;
}

.youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
}

iframe.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* END Responsive Youtube embed by Thierry Koblentz */

@media all and (max-width: 576px) {
    #youtube-container {
    width: 90%;
    margin-top: 1%;     
    margin-left: 5%;
}

}

@media all and (min-width: 577px) and (max-width: 720px) {
    #youtube-container {
    width: 70%;
    margin-top: 2%;     
    margin-left: 15%;

}

}

.care-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.horizontal-line {
    width: 30%;
    background-color: #22202091;
    margin: 0 auto 0;
}

.care-list {
    font-size: 1.2rem;
    margin: 10px auto;

}


/* ????????????? */
.store-content {
    margin: auto 2%;

}

@media all and (max-width: 992px) {
   .store-content {
    margin: auto 0;
    }

    div.store-images>img {
    width: 100%;
    border-radius: 10px;
    margin: 25% 0;
    display: flex block;
    justify-content: center;
}

}

@media all and (max-width: 768px) {

    div.store-images>img {
    margin: 1% 0;
}

}