@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

body {
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
}

/* Shared Styles for all pages */

/* NAVIGATION BAR */

.navbar-collapse {
  text-align: end;
  padding-left: 0;
}

.navbar-brand {
    font-family: 'Raleway Dots', cursive;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  /* Hover.css Navigation Bar Animations by Ian Lunn Design */

  /* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #050505;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
    /* END hover.css */

    ul li a.active {
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      padding-left: 0;
      margin-left: 0;
  }

  ul li a.nav-link {
    padding-bottom: 0;
  }

/* Modal "Cotact us" */

.form-control {
  margin-bottom: 20px;
}

/* Fotter */

/* bootstrap sticky footer example  */

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 70px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here  (was 60px)*/
    line-height: 40px; /* Vertically center the text there (was 60px) */
    background-color: #f5f5f5;
  }

  /* my footer class*/
.footer-container {
  padding-top: 10px;
  height: 40px;
}

.footer-container p {
  font-size: 1rem;;
}
.footer-container i {
  color: #050505;
  font-size: 1.3rem;
}

/* Footer Social Links interaction */
.social-links li a i:hover {
color:rgba(75, 73, 73, 0.89)
}



/* index.html & index-lt.html only */

/* carousel  */

.carousel-inner,
.slide,
.carousel-item img {
  border-radius: 10px ;
  overflow: hidden;
}

/* about.html & about-lt.html */

.picture-girls img {
  width: 100%;
  border-radius: 50%;
  padding: 0;
  border: white solid 1px;
}

.picture-girls img[alt="girl sitting"] {
  margin: 150px -50px;
  
}

.picture-girls img[alt="girl smiling"] {
  margin:   50px 50px;
  
}

@media all and (max-width: 576px) {
.picture-girls img[alt="girl sitting"] {
  margin: 10px -20px;
  
}

.picture-girls img[alt="girl smiling"] {
  margin: 10px 100px;
  
}

.picture-girls img {
  width: 70%;
  border-radius: 50%;
  padding: 0;
  border: white solid 1px;
}


}

/* store.html & store-lt.html */

div.store-images>img {
    width: 90%;
    border-radius: 10px;
}